
APP__NAME=rgb-smart-display
APP__ENVIRONMENT=local
APP__DEBUG=true

DEFAULT_ADMIN_USER=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_DB=

PG__HOST=
PG__PORT=
PG__USER=
PG__PASSWORD=
PG__DATABASE=
PG__ECHO=

AUTH__SECRET_KEY=
AUTH__ALGORITHM=
AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=
AUTH__REFRESH_TOKEN_EXPIRE_DAYS=

UJIN__BASE_URL=
UJIN__LOCAL_URL=
UJIN__TOKEN=
UJIN__EMAIL=