fastapi
uvicorn[standard]
pydantic
python-dotenv
loguru
pydantic-settings==2.9.1
email-validator==2.2.0
bcrypt==4.3.0
python-multipart==0.0.20
aiohttp==3.12.13
user_agents==2.2.0
python-jose[cryptography]
pyjwt
sqlalchemy==2.0.41
asyncpg==0.30.0
alembic==1.16.1
greenlet==3.2.1
psycopg2-binary==2.9.10
passlib
alembic==1.16.1
httpx
opencv-python-headless==4.10.0.84
requests
feedparser